<div class="bg-white shadow-md hover:shadow-lg rounded-lg ring-1 ring-black ring-opacity-5">
  <%= link_to profile_path(user_id: following.following_id), class: "flex-1 block" do %>
    <div class="p-4">
      <div class="flex items-center">
        <div>
          <%= render(AvatarComponent.new(user: following.user_avatar, username: following.user_name)) %>
        </div>
        <div class="ml-3">
          <%= render(ProfileIdComponent.new(nickname: following.user_nickname, username: following.user_name, informative: 'View profile' )) %>
        </div>
      </div>
    </div>
  <% end %>
</div>