<div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div class="flex flex-col space-y-4">
    <% if @followings.present? %>
      <%= render(partial: "following", collection: @followings) %>
    
      <%== pagy_nav(@pagy) %>
    <% else %>
      <%= render(InformativeComponent.new(title: 'No followings', 
                                          text: "Get started by following new ones!",
                                          button: LinkIconComponent.new(title: 'Start Following', 
                                                                        url: search_path, 
                                                                        icon: 'search'))) %>
    <% end %>
  </div>
</div>