<div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div class="">
    <% if @feeds.present? %>
      <%= render(partial: "feed", collection: @feeds, cached: true) %>

      <%== pagy_nav(@pagy) %>
    <% else %>
      <%= render(InformativeComponent.new(title: 'No feeds', 
                                          text: "Get started by creating a new one!",
                                          button: LinkIconComponent.new(title: 'New Post', 
                                                                        url: profile_path, 
                                                                        icon: 'plus'))) %>
      
    <% end %>
  </div>
</div>