<%= button_to follow_invitations_path, class: invite_class, params: { 'follow_invitation[following_id]': @current_visited.id } do %>
  <span class="inline-block align-middle font-bold text-lg"><%= @status %></span>
<% end %>