<div class="h-full text-center pb-4">
  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
  </svg>
  <h3 class="mt-2 text-sm font-medium text-gray-900"><%= @title %></h3>
  <p class="mt-1 text-sm text-gray-500">
    <%= @text %>
  </p>
  <% if @button %>
    <div class="mt-6">
      <%= render(@button) %>
    </div>
  <% end %>
</div>