<%= turbo_frame_tag "notifications", class: "flex flex-col" do %>
  <% if @resources.present? %>
    <div>
      <%= render(@resources) %>
    </div>
    <div class="flex justify-center text-sm text-gray-500">
      <%== pagy_nav(@pagy) %>
    </div>
  <% else %>
    <div class="px-5 py-6 sm:px-6">
      <%= render(InformativeComponent.new(title: 'No notifications',
                                          text: "Start interacting to receive notifications!")) %>
    </div>
  <% end %>
<% end %>