<div class="bg-white shadow-md hover:shadow-lg rounded-lg ring-1 ring-black ring-opacity-5">
  <%= link_to profile_path(user_id: follower.follower_id), class: "flex-1 block" do %>
    <div class="p-4">
      <div class="flex items-center">
        <div>
          <%= render(AvatarComponent.new(user: follower.user_avatar, username: follower.user_name)) %>
        </div>
        <div class="ml-3">
          <p class="text-md font-medium text-gray-700 group-hover:text-gray-900">
            <%= follower.user_nickname %>
          </p>
          <p class="text-sm mb-1 font-medium text-gray-600 group-hover:text-gray-900">
            <%= follower.user_name %>
          </p>
          <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
            View profile
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>