<%= turbo_frame_tag "posts", class: "flex flex-col space-y-4" do %>
  <% if @posts.present? %>
    <%= render(@posts, cache: false) %>
  <% else %>
    <div class="h-full text-center pb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No posts</h3>
      <p class="mt-1 text-sm text-gray-500">
        Get started by creating a new one!
      </p>
    </div>
  <% end %>
<% end %>