<div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div class="">
    <%= turbo_frame_tag 'follow_invitations', class: "flex flex-col space-y-4" do %>
      <% if @invitations.present? %>
        <%= render(@invitations, ar: true) %>

        <%== pagy_nav(@pagy) %>
      <% else %>
        <%= render(InformativeComponent.new(title: 'No invitations', 
                                          text: "You may find new followers by following new people!",
                                          button: LinkIconComponent.new(title: 'Start Following', 
                                                                        url: search_path, 
                                                                        icon: 'search'))) %>
      <% end %>
    <% end %>
  </div>
</div>

